<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top"  onclick = $("#menu-close").click(); >Michelle Bonat</a>
        </li>
        <li>
            <a href="#top" onclick = $("#menu-close").click(); >Home</a>
        </li>
      <li>
        <a href="/posts" >Blog</a>
      </li>
        <li>
            <a href="#about" onclick = $("#menu-close").click(); >About</a>
        </li>
        <li>
            <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
        </li>
        <li>
            <a href="/resume" >Resume</a>
        </li>
        <li>
            <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-right">
      <h1>Hello!</h1>
        <h1>I'm Michelle Bonat</h1>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Come In</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><p>I’m a data-loving, SF Bay Area-based full stack software engineer and entrepreneur, with experience at top financial and tech
          companies and running businesses.</p>

          <p>Since this is the name drop section I'll note that I ran a global product business for Oracle, received an MBA in Finance from Kellogg, and launched a company at
          DEMO which was named to the Top 10 most innovative software companies
          under $100 million.</p>

          <p>I'm a former banker and ultra-competitive athlete and now I enjoy writing code.</p>

          <p>But enough of that. On this site you’ll learn more about me. Feel free to
            <a href="mailto:michelle.bonat@gmail.com">get in touch</a> if you would like to collaborate, or just debate how to get a good parking spot in San Francisco.</p></h2>
      </div>
    </div>
  </div>
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2>Notes from my coding and other adventures</h2>
      <h2>
      <br>
      <br>
        <%= link_to "See My Blog", posts_path %> <i class="fa fa-arrow-circle-right"></i>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
  <div class="container-fluid container-portfolio shadow">
    <div class="row">
      <div class="col-xs-4 col-md-12 text-center">
        <h2>Some of My Work</h2>
        <a href="/resume" target="_blank" class="btn btn-dark">Resume</a>
        <hr class="small">
        <div class="row">
          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/5d6vZhr.jpg">
                    <h3>Code and run the business at Data Simply</h3>
                    <%= link_to  'Details',  data_simply_path,  class:  'btn btn-space btn-dark btn-lg', target: '_blank' %>
                    <a href="http://datasimply.com/" target="_blank" class="btn btn-space btn-dark btn-lg">Live Site</a>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#myModal">
                  Project Snapshot
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><strong>Data Simply:</strong> Insights from unstructured data for financial services using machine intelligence
                          </h4>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li><strong>Framework:</strong> Ruby on Rails
                          <li><strong>Front End:</strong> HTML, CSS, Javascript, JQuery
                          <li><strong>Templating and Presentation:</strong> Haml, Bootstrap
                          <li><strong>Testing:</strong> RSpec, MiniTest, Capybara, FactoryGirl
                          <li><strong>Tools and Misc:</strong> Twilio, SQL, Sidekiq, SendGrid, Stripe
                          <li><strong>Cloud Infrastructure and DevOps:</strong> AWS, Heroku, CodeShip, LogDNA
                          <li><strong>DB:</strong> PostgreSQL
                          <li><strong>APIs and Integrations:</strong> SEC, Twilio, Numerous financial data providers
                          <li><strong>Delivery:</strong> Application, APIs, Widgets
                          <li><strong>Role: </strong>Part of Team. My role: CEO, Co-Founder, Software Engineer
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/DERDJMC.png">
                    <h3>Bit Parrot, a data aggregator for developers to track info they care about</h3>
                    <p>
                      <%= link_to  'Details',  bitparrot_path,  class:  'btn btn-space btn-dark btn-lg', target: '_blank' %>
                    </p>
                    <p>
                      <a href="http://www.bitparrot.co/" target="_blank" class="btn btn-space btn-dark btn-lg">See It Live</a>
                    </p>
                    <p>
                      <a href="https://github.com/michellebonat/bitparrot" target="_blank" class="btn btn-space btn-dark btn-lg">See Code</a>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/HmmQOVu.jpg">
                    <h3>This site, built with Ruby On Rails and more</h3>
                    <%= link_to  'Details',  website_portfolio_path,  class:  'btn btn-space btn-dark btn-lg', target: '_blank' %>
                    <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-space btn-dark btn-lg">See Code</a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/1CTEHRL.png">
                    <h3>Built a Wikipedia clone app</h3>
                    <p>
                    <%= link_to  'Details',  blocipedia_path,  class:  'btn btn-space btn-dark btn-lg', target: '_blank' %>
                    </p>
                    <p>
                    <a href="https://mbonat-blocipedia.herokuapp.com/" target="_blank" class="btn btn-space btn-dark btn-lg">Live Site</a>
                    </p>
                    <p>
                    <a href="https://github.com/michellebonat/blocipedia" target="_blank" class="btn btn-space btn-dark btn-lg">See Code</a>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/OPqONHv.png">
                    <h3>Built a personal investing guidance site</h3>
                    <%= link_to  'Details',  my_money_butler_path,  class:  'btn btn-space btn-dark btn-lg', target: '_blank' %>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/xYtrzDp.jpg">
                    <h3>SEO enable a Rails app</h3>
                    <a href="https://github.com/michellebonat/mbonat_site/commit/d5890787ce561b94d9f8208f9ba1a08797889586" target="_blank" class="btn btn-dark btn-lg">See Code</a>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/0e72F03.jpg">
                    <h3>Ran Oracle Financial Web Apps for mobile, hosted and on-premise, globally</h3>
                    <%= link_to  'Details',  oracle_financial_apps_path,  class:  'btn btn-space btn-dark btn-lg', target: '_blank' %>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-inside shadow">
            <div class="row">
              <div class="col-xs-4 col-md-12">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive shadow-image" src="http://i.imgur.com/ry7q1IJ.jpg">
                    <h3>Open Source: Contribute to FinTechSandbox Sandcastle Project</h3>
                    <a href="https://github.com/fintechsandbox" target="_blank" class="btn btn-dark btn-lg">Learn
                      More</a>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
        </div>
    </div>
</aside>

<!-- Footer -->
<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <a href="/resume" target="_blank" class="btn btn-dark">Resume</a>
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
          <br>
          <br>
        </h3>
              <h3>Like this site? Star it on GitHub</h3>
              <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-dark">Star It</a>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2017</p>
          <p class="text-muted">Built by Michelle with Ruby on Rails and
            <i class="fa fa-heart"></i>
          <h4>
          <br>
          <br>
      </div>
    </div>
  </div>
</section>


<!-- Custom Theme JavaScript -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>
