.container
	.row
		.col-lg-12
			%h1.portfolio-header
				MichelleBonat.com
				%small
					%i Personal website
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/MqpQK2k.png"}/
			-#%br
			-#%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/6FrEn2d.jpg"}/

		.col-md-6
			%h3
				%strong Project Description
			%p	This is my personal website, built using Ruby on Rails (you are here).

			%h3
				%strong How It Works
			%p This uses Ruby v4 with haml and the other usual suspects. It includes a portfolio section with individual pages for each project, resume page, and blog. I've included a modal, and an expandable navbar that works with the Rails views. I have open sourced the code.

			%h3
				%strong Contribution
			%p Solo. Designed, developed, deployed, including personal url setup and all art and photos. It's all me, friends. Started with a template that I ended up mostly redoing.

			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Ruby on Rails
				%li
					%strong Front End:
					HTML, CSS, Javascript, JQuery
				%li
					%strong Templating and Presentation:
					Haml, Bootstrap
				%li
					%strong Testing:
					RSpec, Capybara, FactoryGirl, Better Errors, Byebug
				%li
					%strong Tools and Misc:
					Markdown for the blog posts, Google Analytics, Pundit, SendGrid, FriendlyID, Simple Form, Devise
				%li
					%strong Cloud Infrastructure and DevOps:
					Heroku
				%li
					%strong DB:
					SQLite (development), PostgreSQL (production)
				-#%li
				-#	%strong APIs and Integrations:
				-#	SEC, Twilio, Numerous financial data providers
				%li
					%strong Delivery:
					Website, portfolio pages, and blog

			-#%h3
			-#	%strong Other
			-#%p We will have attached more than 40 million metadata tags to these documents.

			%h3
				%strong More Information
			%ul
				%li
					See the homepage
					= link_to "here", "http://michellebonat.com/"
				%li
					See my blog
					= link_to "here", "http://michellebonat.com/posts"
				%li
					See my resume
					= link_to "here", "http://michellebonat.com/resume"
				%li
					See an example portfolio page
					= link_to "here", "http://michellebonat.com/data_simply"
				-#%li
				-#	See the application online
				-#	= link_to "here", "https://app.datasimply.com/"
				-#%li
				-#	See the widget in action
				-#	= link_to "here", "http://datasimply.com/home/"
				%li
					See the public repo on GitHub
					= link_to "here", "https://github.com/michellebonat/mbonat_site"
				%br
				%br

	-#This is the related projects section which still needs to be built out
	-#.row
	-#	.col-lg-12
	-#		%h3.page-header
	-#			%strong Related Projects
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/

	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2017 All Rights Reserved
