<br>
<br>
<h1>Edit Post</h1>

<%= form_for :post, url: posts_path do |f| %>

    <%= form_for :post, url: posts_path do |f| %>

        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
        <%= f.label :meta_title %><br>
        <%= f.text_field :meta_title %><br>
        <%= f.label :meta_description %><br>
        <%= f.text_field :meta_description %><br>
        <%= f.label :permalink %><br>
        <%= f.text_field :permalink %><br>
        <%= f.label :no_index %><br>
        <%= f.check_box :no_index %><br>
        <%= f.label :body %><br>
        <%= f.text_area :body %><br>
<br>
        <%= f.submit %>
    <% end %>
<% end %>


